/* #c28670 - עוד סנגון של בצע - כתום חום */
/* #3e1212 - צבע בורדו */

*{
    direction: rtl;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 70px;
    text-align: center;
}

/* עיצוב הניווט */
nav {
    background-color:#089e8f; /* צבע כהה */
    border-bottom: 2px solid  #343a40;;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* ריווח בין האלמנטים */
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; /* הניווט נשאר קבוע בראש העמוד */
    top: 0;
    left: 0;
    width: 98%;
    z-index: 1000; /* מבטיח שהניווט יישאר מעל כל האלמנטים */
}

/* עיצוב הקישורים */
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px; /* ריווח בין הקישורים */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    width: 150px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color:  #343a40;/* רקע כחול */
    color: #ffffff; /* טקסט לבן */
}

.welcome{
    margin: 0px;
}