{% extends 'index.html' %}

    {% block head %}
      <link rel="stylesheet" href="static/css/demoProfile.css"></link>
      <title>profile</title>
    {% endblock %}

    

    {% block body %}

        <div class="btns">

            <div class="filters">
                <a class="a">הצג את כל האירועים שלי</a>
                <a class="a">הצג אירועים משבוע האחרון</a>
                <a href="/demoBtns" class="a">הצג אירועים לפי תאריכים</a>
            </div>

            <div class="info">
                <a href="/demoBtns" class="a">גיבוי נתונים ושמירה כקובץ</a>  
                <a href="/demoBtns" class="a">נתונים על מוצרי סופר</a>  
                <a href="/demoBtns" class="a">נתונים שנתיים</a> 
                <a href="/demoBtns" class="a">נתונים לפי קטגוריה</a> 
            </div>
            {% if request.path == '/profileRange' %}
            <div class="date-form">
                <form action="/profileRange" method="post">
                    <lable>מתאריך</lable>
                    <input type="date" name="from"  placeholder="מתאריך" required />
                    <lable>עד תאריך</lable>
                    <input type="date" name="to"  placeholder="עד תאריך" required />
                    <button type="submit">הצג</button>
                </form>
            </div>
            {% endif %}
        </div>

        <div class="all_container">
            <div class="purchases_list"> 
                {% if purchases|length < 1 %}
                        <h4>{{message}}</h4>
                {% else %}
                <h4>קיימות {{purchases|length}} קניות ברשימת הקניות שלך</h4>
                <div class="table">
                    <table>
                        <tr class="head">
                            <th>שם המוצר</th>
                            <th>כמות</th>
                            <th>מחיר</th>
                            <th>קטגוריה</th>
                            <th>תאריך</th>
                            <th>מחק</th>
                        </tr>
                   {% for p in purchases: %}
                        <tr class="row">
                            <th>{{ p.name}}</th>
                            <th>{{ p.qty }}</th>
                            <th>{{ p.price }}</th>
                            <th>{{ p.category }}</th>
                            <th>{{ p.date.date() }}</th>
                            <th>X</a></th>
                        </tr>
                  {% endfor %}
                    </table>
                </div>
                {% endif %}
                <p href="#addModal" class="open-modal">הוסף</p>
            </div>
 
        </div>        
        

    {% endblock %}