
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/index.css"></link>
    <title>HouseholdTracker</title>

    {% block head %}
    {% endblock %}

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">בית</a></li>
            <li><a href="/register">הרשם</a></li>
            <li><a href="/login">התחבר</a></li>
            <li><a href="/profile">איזור אישי</a></li>
            <li><a href="/logout">התנתק</a></li>
            <p class="welcome">
                👋 שלום לך,
                {% if current_user.is_authenticated %}
                    {{ current_user.name }}
                {% else %}
                    אורח
                {% endif %}
            </p>
        </ul>
    </nav>  
    
    {% block body %}
    {% endblock  %}
</body>
</html>