
{% extends 'index.html' %}

    {% block head %}
      <link rel="stylesheet" href="static/css/products.css"></link>
      <title>home</title>
    {% endblock %}

    

    {% block body %}
        <div class="container">

            <div>
                <h3>רשימת קניות מסופר</h3>
            </div>
            
            <div class="all_products">
                <div class="product">
                    <p class="name">גבינה</p>
                    <p class="price">5.9 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">ביסלי</p>
                    <p class="price">2.5 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">טישו</p>
                    <p class="price">13 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">צ'יפס קפוא</p>
                    <p class="price">49 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">שמפו</p>
                    <p class="price">9.9 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">שמן</p>
                    <p class="price">8.9 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">שוקולד</p>
                    <p class="price">5.9 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">עוגיות</p>
                    <p class="price">7.5 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">מציצות</p>
                    <p class="price">30 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">נקניקיות</p>
                    <p class="price">25.9 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">חלב</p>
                    <p class="price">5.9 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">גומיות</p>
                    <p class="price">2.9 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">שישיית קולה</p>
                    <p class="price">29.3 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">דוריטוס</p>
                    <p class="price">3.9 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">קטשופ</p>
                    <p class="price">6.4 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">מסטיק קוביות</p>
                    <p class="price">10.9 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">קפה</p>
                    <p class="price">25 ש"ח</p>
                </div>
                <div class="product">
                    <p class="name">זיתים</p>
                    <p class="price">5.9 ש"ח</p>
                </div>
            </div>

            <div>
                <a href="/compare">הצג יעול קניות</a>
                <a href="/profile">חזור לפרופיל</a>
            </div>
        </div>
    {% endblock %}