{% extends 'index.html' %}

    {% block head %}
      <link rel="stylesheet" href="static/css/profile.css"></link>
      <title>profile</title>
    {% endblock %}

    

    {% block body %}

        <div class="btns">

            <div class="filters">
                <a href="/profile" class="a">הצג את כל האירועים שלי</a>
                <a href="/profileWeek" class="a">הצג אירועים משבוע האחרון</a>
                <a href="#dateFormModal" class="a">הצג אירועים לפי תאריכים</a>
            </div>
            <div class="info">
                <a href="/saveData" class="a">גיבוי נתונים ושמירה כקובץ</a>  
                <a href="/products" class="a">השוואת מחירים</a>  
                <a href="/graph1" class="a">נתונים שנתיים</a> 
                <a href="/graph2" class="a">נתונים לפי קטגוריה</a> 
            </div>
            <div class="seperate"></div>

        </div>

        <!-- תיבת בחירת טווח תאריכים -->
        <div id="dateFormModal" class="modal-date">
            <div class="modal-content-date">
                <a href="#" class="close-date">&times;</a>
                <form action="/profileRange" method="post">
                    <label>מתאריך</label>
                    <input type="date" name="from" placeholder="מתאריך" required />
                    <label>עד תאריך</label>
                    <input type="date" name="to" placeholder="עד תאריך" required />
                    <button type="submit">הצג</button>
                </form>
            </div>
        </div>

        <div class="all_container">
            <div class="purchases_list"> 
                {% if purchases|length < 1 %}
                        <h4>{{message}}</h4>
                {% else %}
                <h4>קיימות {{purchases|length}} קניות ברשימת הקניות שלך</h4>
                <div class="table">
                    <table>
                        <tr class="head">
                            <th>שם המוצר</th>
                            <th>כמות</th>
                            <th>מחיר</th>
                            <th>קטגוריה</th>
                            <th>תאריך</th>
                            <th>מחק</th>
                        </tr>
                   {% for p in purchases: %}
                        <tr class="row">
                            <th>{{ p.name}}</th>
                            <th>{{ p.qty }}</th>
                            <th>{{ p.price }}</th>
                            <th>{{ p.category }}</th>
                            <th>{{ p.date.date() }}</th>
                            <th><a href="/delete/{{p.id}}">מחיקה</a></th>
                        </tr>
                  {% endfor %}
                    </table>
                </div>
                {% endif %}
                <a href="#addModal" class="open-modal">הוסף</a>
            </div>
 
        </div>        
        
        <!-- תיבת הוספת מוצר -->
        <div id="addModal" class="modal-add">
            <div class="modal-content-add">
                <a href="#" class="close-add">&times;</a>
                <form action="/add" method="post">
                    <input type="text" name="name" placeholder="שם המוצר" />
                    <input type="number" name="qty" placeholder="כמות" />
                    <input type="number" name="price" placeholder="מחיר" step="0.01"/>
                    <input type="text" name="category" placeholder="קטגוריה" />
                    <input type="date" name="date"  placeholder="תאריך" />
                    <button>הוסף קניה</button>
                </form>
            </div>
        </div>

    {% endblock %}